<html>
<head>
  <link href="./styles.css" rel="stylesheet" media="all"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="js/jquery-2.2.3.min.js"></script>
</head>
<body>

<h2 class="some">Наши клинеты которые уже записались</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Имя</th>
    <th>Телефон</th>
    <th>Дата записи</th>
    <th>Парикмахер</th>
    <th>Цвет</th>
  </tr>
  </thead>

  <tbody>
  <% @db_results_users.each do |row| %>
    <tr>
      <td><%= row['username'] %></td>
      <td><%= row['phone'] %></td>
      <td><%= row['datestamp'] %></td>
      <td><%= row['barber'] %></td>
      <td style="background-color: <%= row['color'] %>"><%= row['color'] %></td>
    </tr>
  <% end %>
  </tbody>

</table>

</body>
</html>
